/*css for Chord diagram*/

#chart {
    font: 10px sans-serif;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

path.chord {
    stroke: #000;
    stroke-width: .10px;
    transition: opacity 0.3s;
}

#circle:hover path.fade {
    opacity: 0;
}

svg {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    font-family: 'Exo 2', sans-serif;
}

#chordColorLegend {
    opacity: 0.6;
}


/*css for anymap*/

#anymap {
    height: 700px;
}

.anychart-credits {
    display: none;
}

.slider {
    margin: 3em 0em 3em 2em;
}


/* .buttonRow {
    margin: 3em 0em 0em 0em;
} */

.buttonRow div:nth-child(2) label:nth-child(2) {
    margin-left: 0;
}

footer p {
    text-align: center;
}

@media(min-width: 1920px) {
    .buttonRow div:nth-child(2) {
        margin: -3em 0em 0em 15em;
    }
    .buttonRow h4:nth-child(2) {
        margin: -1.6em 0em 0em 10em;
    }
    #btn_pause {
        margin-left: 1em;
    }
}

@media(min-width: 1440px) and (max-width: 1919px) {
    .buttonRow div:nth-child(2) {
        margin: -3em 0em 0em 12em;
    }
    .buttonRow h4:nth-child(2) {
        margin: -1.6em 0em 0em 8em;
    }
    /* .buttonRow {
        margin: 3.7em 0em 0em 0em;
    } */
}

@media(min-width: 960px) and (max-width: 1439px) {
    .buttonRow div:nth-child(2) {
        margin: -3em 0em 0em 9em;
    }
    .buttonRow h4:nth-child(2) {
        margin: -1.6em 0em 0em 6em;
    }
    /* .buttonRow {
        margin: 3.7em 0em 0em 0em;
    } */
}

@media(min-width: 768px) and (max-width: 959px) {
    .buttonRow div:nth-child(2) {
        margin: -3em 0em 0em 9em;
    }
    .buttonRow h4 {
        margin: 0.2em 0em 0em 4.5em;
    }
}

@media(min-width: 425px) and (max-width: 767px) {
    .buttonRow {
        margin: 0em 0em 0em 0em;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}