/*css for Chord diagram*/

#chart {
    font: 10px sans-serif;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

path.chord {
    stroke: #000;
    stroke-width: .10px;
    transition: opacity 0.3s;
}

#circle:hover path.fade {
    opacity: 0;
}

svg {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    font-family: 'Exo 2', sans-serif;
}


/*.sliderDiv {
    padding: 15px 0 5px 0;
}*/


/*#zoneSlider, #timeSlider {
    margin: auto;
    max-width: 400px;
}*/


/*css for anymap*/

#anymap {
    width: 100%;
    height: 500px;
    padding: 0em;
    margin: auto;
}

.anychart-credits {
    display: none;
}

#graphs {
    width: 90%;
    margin: 0em 5%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#chordDiagram {
    width: 100%;
    height: auto;
}

#controller {
    width: 90%;
    margin: 2em 5%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#histogram {
    width: 100%;
}

.controlsWrapper {
    margin: 2em 0em;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.cW1 {
    width: 100%;
    justify-content: flex-start;
}

.cW2 {
    width: 100%;
    justify-content: space-between;
}

.slidersWrapper {
    width: 100%;
    margin: 3em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100%;
    display: block;
    margin: 8em 0em 0em 0em;
}

.slider:first-child {
    margin: 2em 0em 0em 0em;
}

#controller h3 {
    display: block;
    width: 100%;
    float: right;
    font-size: 1.5em;
}

#controller h3 #tripCount {
    display: inline-block;
}

#controller #btn_pause {
    display: block;
    width: 100%;
    padding: .5em 1em;
    margin: 2em auto 0em auto;
}

footer p {
    text-align: center;
}

@media(min-width: 960px) {
    #graphs {
        flex-direction: row;
    }
    #chordDiagram,
    #anymap {
        width: 50%;
    }
    #controller {
        flex-direction: row;
    }
    .cW1 {
        width: 25%;
        justify-content: flex-start;
    }
    .cW2 {
        width: 75%;
        justify-content: space-between;
    }
    #controller #btn_pause {
        max-width: 70%;
        margin: 7em 0em 0em 0em;
    }
    #controller h3 {
        max-width: 80%;
        width: auto；
    }
    .slidersWrapper {
        flex-direction: row;
    }
    .slider {
        width: 30%;
        margin: 0em;
    }
    .slider:first-child {
        margin: 0em;
        width: 66%;
    }
}
