img.branding-logo {
    max-height: 30px;
    display: inline-block !important;
    padding: 0px;
    margin: -3px 5px 0 0;
}

#chart {
    font: 10px sans-serif;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

path.chord {
    stroke: #000;
    stroke-width: .10px;
    transition: opacity 0.3s;
}

#circle:hover path.fade {
    opacity: 0;
}

svg {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    font-family: 'Exo 2', sans-serif;
}

#chordColorLegend font {
    opacity: 0.6;
}


/*css for anymap*/

#anymap {
    height: 700px;
}


/* .anychart-credits {
    display: none;
} */

.slider {
    margin: 3em 0em 3em 2em;
}


/* .buttonRow {
    margin: 3em 0em 0em 0em;
} */

.buttonRow div:nth-child(2) label:nth-child(2) {
    margin-left: 0;
}

footer p {
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}