#chart {
    font: 10px sans-serif;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

path.chord {
    stroke: #000;
    stroke-width: .10px;
    transition: opacity 0.3s;
}

#circle:hover path.fade {
    opacity: 0;
}

svg {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    font-family: 'Exo 2', sans-serif;
}

.center-block{
    text-align:center;
}

.sliderDiv {
    padding: 15px 0 5px 0;
}

#zoneSlider, #timeSlider {
    margin: auto;
    max-width: 400px;
}
